---
layout: page-skeleton.njk
pagination:
  data: posts
  alias: post 
  size: 1
  serverless: eleventy.serverless.path.date.slug
  addAllPagesToCollections: true
  resolve: values
permalink: 
  build: "/{{post.date}}/{{post.slug}}/"
  preview: "/preview/:date/:slug/"
---
{%- include "_nav.njk" -%}

<h1>{{post.title}}</h1>
<article>
  {{ post.content | safe }}
</article>